* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(211, 200, 197);
    text-align: center;
  }
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: rgb(221, 227, 223);
    color: rgb(70, 53, 53);
  }
  #reset {
    padding: 1rem;
    font-size: 1.25rem;
    /* background-color: rgb(211, 200, 197); */
    background-color: rgb(47, 35, 35);
    color: rgb(211, 200, 197);
    border: none;
    border-radius: 0.5rem;
  }
  h1 {
    color: rgb(47, 35, 35);
  }
  #NewGame {
    padding: 1rem;
    font-size: 1.25rem;
    /* background-color: rgb(211, 200, 197); */
    background-color: rgb(47, 35, 35);
    color: rgb(211, 200, 197);
    border: none;
    border-radius: 0.5rem;
  }
  #msg {
    font-size: 5vmin;
  }
  .msg-container {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .hide {
    display: none;
  }